body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.logo {
  width: 34%;
  height: 30%;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #c73834;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #c73834;
}
